<div class="container-sm mt-4">
    <div class="contact-show container mx-auto p-4" style="border: 1px solid #E2786F; border-radius: 10px; padding: 50px; margin: 50px auto; width: 50%;">

    <h2 >Editar contacto de: </h2>
    <h1 class="contact-name text-center mb-4" style="text-align: center; width: 100%; font-weight: bold; color: #E2786F;" ><%= @contact.full_name %></h1>


    <%= form_with(model: @contact, local: true) do |f| %>
  <div class="form-group">
    <b><%= f.label :full_name, "Nombre Completo" %></b>
    <%= f.text_field :full_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <b><%= f.label :email, "Correo Electrónico" %></b>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  
<div class="form-group">
  <b><%= f.label :contact_phone_attributes, "Teléfono" %></b>
  <%= f.fields_for :contact_phone do |phone_fields| %>
    <%= phone_fields.text_field :number, class: "form-control" %>
  <% end %>
</div>


  <div class="form-group">
   <b><%= f.label :address, "Dirección" %> </b>
    <%= f.text_area :address, value: @contact.contact_address, class: "form-control" %>
  </div>

<br><br>
  <div class="d-flex justify-content-start ms-2">
  <%= f.submit "Actualizar contacto", class: 'btn btn-danger px-4 me-3' %>
  <%= link_to "Atrás", contacts_path, class: 'btn btn-danger px-4' %>
</div>

  <% end %>
</div>
