<div class="banner-container" style="border: 1px solid #E2786F; border-radius: 10px; padding: 30px; margin: 30px 10;">
  <h1 class="my-4" style="text-align: center; width: 100%; font-weight: bold; color: #E2786F;">Lista de todos tus contactos</h1>

  <div style="float: right; margin-right: 10px;">
    <%= link_to 'Agregar nuevo contacto', new_contact_path, class: 'btn btn-danger px-4' %>
  </div>

<!-- Barra de búsqueda -->
<div style="display: flex; align-items: center; margin-top: 10px;">
  <%= form_tag contacts_path, method: :get, style: 'display: flex; align-items: center;' do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Buscar contactos', style: 'width: 250px; margin-right: 10px;', autofocus: true %>
    <%= submit_tag 'Buscar', class: 'btn btn-danger' %>
  <% end %>
</div>

<!-- Filtro por query string -->
<% if params[:search].present? %>
  <p style="margin-top: 10px;">Mostrando resultados para: <%= params[:search] %></p>
<% end %>

<br><br>

<div style="display: flex; justify-content: center; padding: 0 15px; ">
  <table class="table table-bordered" style="border-spacing: 10px 0px; max-width: 100%; width: 100%; margin: 0 auto; border: 1px solid #E2786F; ">
    <thead>
      <tr style="background-color: #F8F9FA; ">
        <th style="width: 15%; color: #E2786F;">Nombre</th>
        <th style="width: 20%; color: #E2786F;">Email</th>
        <th style="width: 20%; color: #E2786F;">Celular</th>
        <th style="width: 25%; color: #E2786F;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td style="vertical-align: middle; text-align: center;"><%= link_to contact.full_name, contact_path(contact) %></td>
          <td style="vertical-align: middle; text-align: center;"><%= contact.email %></td>
          <td style="vertical-align: middle; text-align: center;"><%= contact.phone_number %></td>
          <td style="vertical-align: middle; text-align: center;">
            <%= link_to 'Editar', edit_contact_path(contact), class: 'btn btn-secondary' %>
            <%= link_to 'Eliminar', contact_path(contact), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este contacto?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
