<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card text-center" style="width: 50rem; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border: 1px solid #E2786F">
    <div class="card-body">
      <h1 class= "contact-name text-center mb-4" style="text-align: center; width: 100%; font-weight: bold; color: #E2786F;"><%= @contact.full_name %></h1>
      <p class="mb-2"> Correo Electronico: <a href="mailto:<%= @contact.email %>" class="text-decoration-none" style="color: #000000;"><%= @contact.email %></a>   </p>
      <p class="mb-2"> Teléfono: <%= @contact.phone_number %> </p>
      <p class="mb-2"> Direccion: <%= @contact.address %>  </p>
    </div>
    <div class="mt-2 d-flex justify-content-center">
      <%= link_to 'Volver a los contactos', contacts_path, class: 'btn btn-danger px-2 py-1' %>

      
    </div>
  </div>
</div>



<style>
  .contact-show {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .contact-name {
    font-size: 2rem;
    font-weight: bold;
  }

  .contact-details p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .contact-details a {
    color: #337ab7;
    text-decoration: none;
  }
</style>
