<div class="d-flex justify-content-center">
  <div class="contact-show container mx-auto p-4" style="border: 1px solid #E2786F; border-radius: 10px; padding: 50px; margin: 50px auto; width: 50%;">
    <h1 class="contact-name text-center mb-4" style="text-align: center; width: 100%; font-weight: bold; color: #E2786F;"><%= @contact.full_name %></h1>
      <div class="contact-details d-flex flex-column align-items-center">
        <p class="mb-2" style="text-align: center; width: 100%;  color: #000000;"> Correo Electronico: <a href="mailto:<%= @contact.email %>" class="text-decoration-none" style="color: #000000;"><%= @contact.email %></a></p>
        <p class="mb-2" style="text-align: center; width: 100%;  color: #000000;"> Teléfono: <%= @contact.phone_number %> </p>
        <p class="mb-2" style="text-align: center; width: 100%;  color: #000000;"> Direccion: <%= @contact.address %> </p>
      </div>
        <p class="mt-4 text-center">
          <%= link_to 'Volver a los contactos', contacts_path, class: 'btn btn-danger px-4' %>
        </p>
  </div>
</div>

<style>
  .contact-show {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .contact-name {
    font-size: 2rem;
    font-weight: bold;
  }

  .contact-details p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .contact-details a {
    color: #337ab7;
    text-decoration: none;
  }
</style>
